meta(property="fb:app_id" content=graph.fbId)
meta(property="og:url" content=graph.url)
meta(property="og:title" content=graph.title)
meta(property="og:description" content=graph.description)
meta(property="og:site_name" content=graph.siteName)
meta(property="og:image" content=graph.image)

if graph.type === "home"

else if graph.type === "shout" && graph.shoutType
    if graph.shoutType === "offer"
        meta(property="og:type" content="shoutitcom:offer")
    else if graph.shoutType === "request"
        meta(property="og:type" content="shoutitcom:request")
    meta(property="shoutitcom:price" content=graph.price)

else if graph.type === "user"
    meta(property="og:type" content="shoutitcom:user")

else if graph.type === "tag"

else

