span#signinButton
    span.g-signin(data-callback="signInCallback",
    data-redirecturi="postmessage",
    data-accesstype="offline",
    data-clientid="935842257865-s6069gqjq4bvpi4rcbjtdtn2kggrvi06.apps.googleusercontent.com",
    data-cookiepolicy="single_host_origin",
    data-requestvisibleactions="http://schemas.google.com/AddActivity",
    data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/youtube.upload")

