doctype html
html
    head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# shoutitcom: http://ogp.me/ns/fb/shoutitcom#")
        include meta

        title= title
        link(rel='icon', type='image/png' href="/img/fav.png")
        if production
          link(rel='stylesheet', href='#{chunkNames.css}', type='text/css' )
    body
        #root!= reactMarkup

        #fb-root

        script#fluxData.
            window.fluxData = !{serializedFlux}

        script(async,src="https://apis.google.com/js/client:platform.js")
        script(async,src="https://connect.facebook.net/en_US/sdk.js")
        if ga
          script(async,src="https://www.google-analytics.com/analytics.js")
        script(type="text/javascript",src="https://maps.googleapis.com/maps/api/js?key=#{googleMapsKey}&libraries=places&language=en-us")
        script(async,src="#{chunkNames.main}")
